<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioAlongSingleton</key>
	<string>builderViaInterpreter</string>
	<key>eventByNumber</key>
	<string>featureSinceTier</string>
	<key>groupNearTemple</key>
	<string>fixedGiftContrast</string>
	<key>significantCubitOrientation</key>
	<string>textPatternSkewx</string>
	<key>statefulRouterAlignment</key>
	<string>usecasePatternCount</string>
</dict>
</plist>
