<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellKindCount</key>
	<string>roleByJob</string>
	<key>collectionVarResponse</key>
	<string>popupUntilActivity</string>
	<key>heapParamInteraction</key>
	<string>musicNumberVisible</string>
	<key>particleAlongBridge</key>
	<string>behaviorValuePressure</string>
</dict>
</plist>
