<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>logarithmAtPrototype</key>
	<string>cubeTierInteraction</string>
	<key>offsetParamHead</key>
	<string>blocTierAlignment</string>
	<key>seamlessPopupPadding</key>
	<string>entityAboutNumber</string>
	<key>subpixelAgainstStyle</key>
	<string>axisAboutTask</string>
</dict>
</plist>
