<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>loopStrategyVelocity</key>
	<string>requiredChartKind</string>
	<key>menuExceptBridge</key>
	<string>statelessResourceEdge</string>
	<key>queryAroundLevel</key>
	<string>usecaseDuringNumber</string>
	<key>uniqueRequestResponse</key>
	<string>matrixThroughDecorator</string>
</dict>
</plist>
