<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetMediatorRight</key>
	<string>asyncInValue</string>
	<key>completerWorkTag</key>
	<string>graphicBridgeRight</string>
	<key>finalBuilderBottom</key>
	<string>bulletIncludeMediator</string>
	<key>presenterExceptState</key>
	<string>animatedButtonOrigin</string>
	<key>spineBufferOffset</key>
	<string>viewVersusPrototype</string>
	<key>usageLevelDensity</key>
	<string>composableEquipmentOrientation</string>
	<key>usedCanvasCoord</key>
	<string>callbackContainMethod</string>
</dict>
</plist>
