<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveBlocForce</key>
	<string>finalPetAppearance</string>
	<key>agileTextSpeed</key>
	<string>bitrateActionOrientation</string>
	<key>animatedDrawerHead</key>
	<string>primaryRouterFlags</string>
	<key>boxshadowWorkOffset</key>
	<string>lastTangentTransparency</string>
	<key>finalProfileDepth</key>
	<string>desktopDependencyInteraction</string>
	<key>graphTaskVisible</key>
	<string>relationalScaleTail</string>
	<key>offsetStrategySaturation</key>
	<string>uniformAllocatorStyle</string>
	<key>reactiveIsolateForce</key>
	<string>alignmentDespiteLayer</string>
</dict>
</plist>
